NODE_ENV=production
DB_USERNAME=ppaci
DB_PASSWORD=your_password
DB_HOST=mariadb
DB_PORT=3306
DB_DIALECT=mariadb
DB_NAME=presse_locale_prod_ppacilyoncentre_v1

JWT_SIGN_SECRET=same_as_user_backend

PORT=7105
MEDIA_API_URL=http://62.171.186.233:7106/api/media-locale/getMedia
MEDIA_LOCALE_BACKEND_URL=https://ppacilyoncentre.com/api/media-locale/getMedia

REACT_APP_URL=https://ppacilyoncentre.com
ALLOWED_ORIGINS=https://ppacilyoncentre.com
